<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar color="primary" class="header-shadow">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Home -->
      <button color="primary" mat-raised-button="" class="mat-raised-button mat-primary">
        <span class="mat-button-wrapper">Home</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <button color="primary" mat-raised-button="" class="mat-raised-button mat-primary">
        <span class="mat-button-wrapper">Contact</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <button color="primary" mat-raised-button="" class="mat-raised-button mat-primary">
        <span class="mat-button-wrapper">About</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <span class="spacer"></span>
      <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>
      <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Example heart icon">logout</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
